/*--------------------------------------------------------------------------
   html
---------------------------------------------------------------------------*/
html{
  overflow-y: scroll;
  font-size: 62.5%;
}

/*--------------------------------------------------------------------------
   body
---------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
@import url('https://fonts.googleapis.com/css?family=Sansita');

body{
  color: #3E3A39;

  /*font-family: 'Kozuka Mincho Pro','Kozuka Mincho Std','小塚明朝 Pro R','小塚明朝 Std R','Hiragino Mincho Pro','ヒラギノ明朝 Pro W3','ＭＳ Ｐ明朝',sans-serif;*/
  font-family: 'Sawarabi Mincho','さわらび明朝','ＭＳ Ｐ明朝',sans-serif;
  font-size: 1.3rem;
  letter-spacing: .05em;
  line-height: 1.9;
  color: #3E3A39;

  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background: #ffffff;
  overflow-x: hidden;
}

body {
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

/*
::-moz-selection{
  color:;
  background:;
}
::selection{
  color:;
  background:;
}
*/

.eng {
  font-family: "Sansita";
  font-style: italic;
}

/*--------------------------------------------------------------------------
   base link
---------------------------------------------------------------------------*/
a{
  outline: none;
  -webkit-tap-highlight-color: rgba(255,255,255,1);
  color: #3E3A39;
  transition: 0.5s;
}
a:link,
a:visited{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  outline: none;
  opacity: 0.7;
  transition: 0.5s;
}
a:active{
  outline: none;
}

/*--------------------------------------------------------------------------
   Other
---------------------------------------------------------------------------*/

/* clearfix
-----------------------------------------------------------------*/
.cf:before,
.cf:after{
  content: "";
  display: table;
}
.cf:after{
  clear: both;
}
.cf{
  zoom: 1;
}
.sp{
  display: none!important;
}


@media screen and (max-width: 768px) {
/* 768pxまでの幅の場合に適応される */

body{
  min-width: 320px;
  line-height: 1.7;
}

.sp{
  display: inline-block!important;
}
.pc{
  display: none!important;
}
}