<!DOCTYPE html>
<html lang="ja">

  <!--include head-->
  <% include partial/head %>
  <!--// include head end-->

  <body>

  <div id="Page">

    <!--==========================
    Content
    ============================-->
    <div id="Content" class="cf">

      <div id="Main" class="top" role="main">

        <section id="Sec01">
          <div id="root"></div>
          <!-- <div id="todo"></div> -->
          <!-- <div id="todo2"></div> -->
          <script src="/scripts/index.js"></script>
        </section><!-- // #Sec01 -->

      </div><!-- // #Main -->

    </div><!-- // #Content -->

    <!--include footer-->
    <% include partial/footer %>
    <!--// #Footer-->

  </div><!-- // #Page -->

  </body>
</html>
